<p class="lead">Here are your movies</p>

{{#if movies}}
  <div class="row center">
    {{#each movies}}
      <div class="col s4">
        <div class="card large">
          <div class="card-image">
            <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" />
            <span class="card-title">{{title}}</span>
          </div>
          <div class="card-stacked" data-id="{{_id}}">
            <div class="card-content">
              <div class="movie-info">
                <p>Status: {{status}}</p>
                <p>Release Date: {{release_date}}</p>
              </div>
              <div class="overview">
                <p> {{truncate overview 190}}</p>
              </div>
            </div>
            <div class="card-action">
              <a href="/movies/markWatched/{{_id}}">Mark Watched</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>You have no movies</p>
{{/if}}