<div class="container">
  <h3>Database</h3>
  {{#if dbMovies}}
    <div class="row">
      {{#each dbMovies}}
        <div class="col s4">
          <div class="card large">
            <div class="card-image">

              <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" />
              <span class="card-title">{{title}}</span>
            </div>
            <div class="card-content">

              {{! <button class="waves-effect waves-light btn" type="submit"><i
                  class="material-icons left"
                ></i>Add</button> }}
              {{#if (watchStatus status)}}
                <p class="stars">
                  <span>

                  </span>
                </p>
              {{/if}}
              <p>Status: {{status}}</p>
              <p>Release Date: {{release_date}}</p>
              <p>Overview: {{overview}}</p>
              <p>{{overview}}</p>
            </div>
            <div class="card-action">
              <span class="btn mark-watched" data-id="{{_id}}">Mark Watched</span>
              <span class="btn orange delete" data-id="{{_id}}">Delete</span>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="row">
      <div class="col s4">
        <div class="card large">
          <div class="card-image">

            <img src="/images/poster-placeholder.jpg" />
            <span class="card-title">No movie found</span>
          </div>

        </div>
      </div>
    </div>{{/if}}

  {{#if movies}}

    <div class="row">
      <h3>Search</h3>

      {{#each movies}}
        <div class="col s4">
          <div class="card large">
            <div class="card-image">

              <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" />
              <span class="card-title">{{title}}</span>
            </div>
            <div class="card-content desc-view">

              {{! <button class="waves-effect waves-light btn" type="submit"><i
                  class="material-icons left"
                ></i>Add</button> }}
              <p>Status: Not Added</p>
              <p>Release Date: {{release_date}}</p>
              <p class="overview">Overview: {{overview}}</p>
            </div>
            <div class="card-action">
              <span class="btn green add" data-id="{{id}}">Add</span>
              <span class="btn orange delete" data-id="{{_id}}">Delete</span>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>You have no movies</p>
  {{/if}}
</div>