<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your movies</p>

<h3>Database</h3>
{{#if dbMovies}}
  <div class="row">
    {{#each dbMovies}}
      <div class="col s4">
        <div class="card large">
          <div class="card-image">

            <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" />
            <span class="card-title">{{title}}</span>
          </div>
          <div class="card-content">
            <form action="/movies/addMovie/{{id}}" method="post">
              <input type="submit" value="Add" />
            </form>

            {{! <button class="waves-effect waves-light btn" type="submit"><i
                  class="material-icons left"
                ></i>Add</button> }}

            <p>Status: {{status}}</p>
            <p>Release Date: {{release_date}}</p>
            <p>Overview: {{overview}}</p>
            <p>{{overview}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>You have no movies</p>
{{/if}}

{{#if movies}}

  <div class="row">
    <h3>Search</h3>
    {{#each movies}}
      <div class="col s4">
        <div class="card large">
          <div class="card-image">

            <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" />
            <span class="card-title">{{title}}</span>
          </div>
          <div class="card-content">
            <form action="/movies/addMovie/{{id}}" method="post">
              <input type="submit" value="Add" />
            </form>

            {{! <button class="waves-effect waves-light btn" type="submit"><i
                  class="material-icons left"
                ></i>Add</button> }}

            <p>Status: {{status}}</p>
            <p>Release Date: {{release_date}}</p>
            <p>Overview: {{overview}}</p>
            <p>{{overview}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>You have no movies</p>
{{/if}}